<div class="container">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">All Posts</h1>
    <% if current_user %>
      <%= link_to "Create Post", new_post_path, data: { turbo_frame: "new_post_frame" }, class: "btn btn-success" %>
    <% end %>
  </div>

  <%= turbo_frame_tag "new_post_frame" %>

  <div class="card">
    <%= form_with url: posts_path, method: :get, data: { turbo_frame: "posts", turbo_action: "advance", controller: "autosubmit" }, class: "flex gap-2 flex-wrap" do |f| %>
      <%= f.text_field :q, value: params[:q], placeholder: "Search posts...", class: "form-input flex-1 min-w-[200px]", data: { action: "input->autosubmit#submit", autosubmit_target: "search" } %>
      
      <% if current_user&.role == "admin" %>
        <%= f.select :status, 
            options_for_select([['All', ''], ['Published', 'published'], ['Drafts', 'drafts']], params[:status]),
            {},
            class: "form-select", data: { action: "change->autosubmit#submit" } %>
      <% end %>
      
      <%= f.select :author_id,
          options_for_select([['All Authors', '']] + @authors.map { |u| [u.name || u.email, u.id] }, params[:author_id]),
          {},
          class: "form-select", data: { action: "change->autosubmit#submit" } %>
      
      <button type="button" data-action="click->autosubmit#clear" class="btn btn-secondary">Clear</button>
    <% end %>
  </div>

  <%= turbo_frame_tag "posts" do %>
    <% if @posts.any? %>
      <%= render @posts %>
    <% else %>
      <%= render "empty_state" %>
    <% end %>
  <% end %>
</div>
